@import "../Vars.css";




@media screen and (max-width:430px){
    .about-container{
        width: 90vw;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
    .hero-top{
        display: flex;
        width: 90vw;
    }
    .hero-left{
        width: 80vw;
    }
    .hero-right{
        width: 40vw;
    }
    .hero-footer{
        padding-top: 1.5rem;
        display: flex;
        gap: 10px;
        width: 90vw;
    }
    .hero-footer-items{
        display: flex;
        gap: 0.25rem;
    }
}